@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* background-color: white; */
  /* box-sizing: border-box; */
}

@font-face {
  font-family: 'connect4';
  src: url("./assets/fonts/connect4.ttf");
}

@font-face {
  font-family: 'hangman';
  src: url("./assets/fonts/hangman.ttf");
}

@font-face {
  font-family: 'tictactoe';
  src: url("./assets/fonts/tictactoe.ttf");
}

@font-face {
  font-family: 'rps';
  src: url("./assets/fonts/rps.ttf");
}


